<div  class="container-fluid col d-flex col-md-12" style="height: 65px; background-color: #708090;">
    <h2 mat-dialog-title style="color: #fff;">Add ORG</h2>
</div>
<div class="container-fluid col d-flex justify-content-center pt-3">
    <div class="col-md-12 px-5">
        <form [formGroup]="inforForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 row py-3">
                <mat-form-field class="form-group col-md-6">
                    <mat-label  [class.text-red]="f.name.errors && f.name.dirty">Name</mat-label>
                    <input matInput type="text" [class.border-red]="f.name.errors && f.name.dirty" formControlName="name" required>
                    <mat-error>
                        <small for="" *ngIf="f.name.errors?.['required']">The name is required</small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group col-md-6">
                    <mat-label  [class.text-red]="f.code.errors && f.code.dirty">Code</mat-label>
                    <input matInput type="text" [class.border-red]="f.code.errors && f.code.dirty" formControlName="code" required> 
                    <mat-error>
                        <small for="" *ngIf="f.code.errors?.['required']">The code is required</small>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 row py-3">
                <mat-form-field class="form-group col-md-6">
                    <mat-label  [class.text-red]="f.orderValue.errors && f.orderValue.dirty">Order Value</mat-label>
                    <input matInput type="number" [class.border-red]="f.orderValue.errors && f.orderValue.dirty" formControlName="orderValue" required>
                    <mat-error>
                        <small for="" *ngIf="f.orderValue.errors?.['required']">The order value is required</small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label  [class.text-red]="f.parent_Id.errors && f.parent_Id.dirty"> Parent</mat-label>
                    <mat-select [class.border-red]="f.parent_Id.errors && f.parent_Id.dirty" formControlName="parent_Id">
                        <mat-option value="" selected>--Choose--</mat-option>
                        <span *ngFor="let lv1 of listOrg1" >
                            <mat-option [style.padding-left.px]="15" [value]="lv1.c_Org_Id" class="text-nowrap">
                                {{lv1.name}}
                            </mat-option>
                            <span *ngIf="lv1.c_Orgs">
                                <span *ngFor="let lv2 of lv1.c_Orgs">
                                    <mat-option [style.padding-left.px]="30" [value]="lv2.c_Org_Id" class="text-nowrap">
                                        {{lv2.name}}
                                    </mat-option>
                                    <span *ngIf="lv2.c_Orgs">
                                        <span *ngFor="let lv3 of lv2.c_Orgs">
                                            <mat-option [style.padding-left.px]="45" [value]="lv3.c_Org_Id" class="text-nowrap">
                                                {{lv3.name}}
                                            </mat-option>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" style="color: white; background-color: #708090;">Add<mat-icon aria-hidden="false" aria-label="Example note_add icon" fontIcon="note_add"></mat-icon></button>
            <button mat-raised-button type="reset" class="mx-3" style="color: white; background-color: #708090;">Clear<mat-icon aria-hidden="false" aria-label="Example clear_all icon" fontIcon="clear_all"></mat-icon></button>
            <button mat-raised-button type="button" (click)="onCloseClick()" style="color: white; background-color: #708090;">Close<mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon></button>
        </form>
    </div>
</div>
