<div class="row col-md-12 text-center pt-3">
    <h2>Detail Employee</h2>
</div>
<div class="container-fluid col d-flex justify-content-center">
    <div class="col-md-12 px-5 py-3">
        <form>
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label>First Name:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="employee.firstName">
                </div>
                <div class="form-group col-md-4">
                    <label> Last Name:</label>
                    <input type="text" class="form-control" disabled="disabled"[value]="employee.lastName">
                    
                </div>
                <div class="form-group col-md-4">
                    <label> Birthday:</label>
                    <input type="date" class="form-control" disabled="disabled" [value]="employee.dob">
                </div>
            </div>
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label>Email:</label>
                    <input type="email" class="form-control" disabled="disabled" [value]="employee.email">
                </div>
                <div class="form-group col-md-4">
                    <label>Telephone:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="employee.telephone">
                </div>
                <div class="form-group col-md-4">
                    <label>Mobiphone:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="employee.mobiphone">
                </div>
            </div>
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label>Address:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="employee.address">
                </div>
                <div class="form-group col-md-4">
                    <label>UserLogin:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="employee.userLogin">
                </div>
                <div class="form-group col-md-4">
                    <label > Department:</label>
                    <input type="text" class="form-control" disabled="disabled" [value]="getNameOrg(employee.c_Org_Id)?.name">
                </div>
            </div>
        </form>
        <div class="col-md-12 mt-4 pr-3">
            <div class="row col-md-12">
                <h4 class="col-md-6" style="padding-top: 13px;">Working History</h4>
                <div class="col-md-6 pr-0">
                    <a mat-raised-button [routerLink]="['/add-wh']" routerLinkActive="router-link-active" class="float-end my-2" (click)="onAddHWClick(employee.c_Org_Id)" style="color: white; background-color: #708090;" >Add<mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon></a>
                </div>
            </div>
            
            <table class="table table-border table-hover table-bordered">
                <thead >
                    <tr class="text-center">
                        <th>No.</th>
                        <th>Job Title</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Department</th>
                        <th>Salary Amt</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="count > 0; else rong">
                    <tr *ngFor="let l of listWH; let i = index ; let last = last; let first = first">
                        <td>{{i+1}}</td>
                        <td>{{l.jobTitle}}</td>
                        <td>{{formatDateTable(l.from_Date)}}</td>
                        <td *ngIf="l.to_Date!=null">{{formatDateTable(l.to_Date)}}</td>
                        <td *ngIf="l.to_Date==null">Hiện tại</td>
                        <td>{{getNameOrg(l.c_Org_Id)?.name}}</td>
                        <td>{{l.salaryAmt}}</td>
                        <td class="text-center">
                            <div class="form-check form-switch" style="cursor: pointer;" *ngIf="l.isActive;else noActive" (click)="onStatusClick(l.hR_WorkingHistory_Id)">
                                <input class="form-check-input active" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled >
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>
                            </div>
                            <ng-template #noActive>
                                <div class="form-check form-switch" style="cursor: pointer;" (click)="onStatusClick(l.hR_WorkingHistory_Id)">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled >
                                    <label class="form-check-label" for="flexSwitchCheckDisabled"></label>
                                  </div>
                            </ng-template>
                        </td>
                        <td class="text-center" *ngIf="first">
                            <a style="color: #708090;" [routerLink]="['/update-wh']" routerLinkActive="router-link-active" (click)="onUpdateWHClick(l.hR_WorkingHistory_Id)"> <mat-icon aria-hidden="false" aria-label="Example edit_square icon" fontIcon="edit_square"></mat-icon></a>
                            &nbsp;&nbsp;
                            <a style="text-decoration: underline; color: #708090; cursor: pointer;" (click)="onDeleteWHClick(l.hR_WorkingHistory_Id)" ><mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon></a>
                        </td>
                    </tr>
                </tbody>
                <ng-template #rong>
                    <tbody >
                        <tr class="text-center py-3">
                            No Work History
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
        <hr style="margin-top: 100px;">
        <button mat-raised-button type="button" [routerLink]="['']" routerLinkActive="router-link-active" style="color: white; background-color: #708090;">Back<mat-icon aria-hidden="false" aria-label="Example arrow_back icon" fontIcon="arrow_back"></mat-icon></button>
    </div>
    
    
</div>
