small {
    color: red;
}
.text-red {
    color: red;
}
.border-red {
    border-color:red ;
}


.tableE {
    color: #fff;
    background-color: #708090;
    font-family: sans-serif;
}
.table-border {
    box-shadow: 1px 4px 12px -4px
}