
<div class="row col-md-12 text-center pt-3">
    <h2>Add Employee</h2>
</div>
<div class="container-fluid col d-flex justify-content-center">
    <div class="col-md-12 px-5">
        <form [formGroup]="inforForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 row py-3">
                <mat-form-field class="form-group col-md-4">
                    <mat-label  [class.text-red]="f.firstName.errors && f.firstName.dirty">First Name</mat-label>
                    <input matInput type="text" [class.border-red]="f.firstName.errors && f.firstName.dirty" formControlName="firstName" required>
                    <div *ngIf="f.firstName.invalid && f.firstName.dirty">
                        <div for="" *ngIf="f.firstName.errors">
                            <small for="" *ngIf="f.firstName.errors?.['required']">The first name is required</small>
                        </div>
                    </div> 
                </mat-form-field>
                <mat-form-field class="form-group col-md-4">
                    <mat-label  [class.text-red]="f.lastName.errors && f.lastName.dirty"> Last Name</mat-label>
                    <input matInput type="text" [class.border-red]="f.lastName.errors && f.lastName.dirty" formControlName="lastName" required>
                    <div *ngIf="f.lastName.invalid && f.lastName.dirty">
                        <div for="" *ngIf="f.lastName.errors">
                            <small for="" *ngIf="f.lastName.errors?.['required']">The last name is required</small>
                        </div>
                    </div>
                </mat-form-field>
                <mat-form-field class="form-group col-md-4" appearance="fill">
                    <mat-label  [class.text-red]="f.dOB.errors && f.dOB.dirty"> Birthday</mat-label>
                    <input matInput [class.border-red]="f.dOB.errors && f.dOB.dirty" formControlName="dOB" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="f.dOB.invalid && f.dOB.dirty">
                        <div for="" *ngIf="f.dOB.errors">
                            <small *ngIf="f.dOB.errors?.['required']">The birthday is required</small>
                        </div>  
                    </div>
                </mat-form-field>
            </div>
            <div class="col-md-12 row py-3">
                <mat-form-field class="form-group col-md-4">
                    <mat-label  [class.text-red]="f.email.errors && f.email.dirty">Email</mat-label>
                    <input matInput type="email" [class.border-red]="f.email.errors && f.email.dirty" formControlName="email" required>
                    <div *ngIf="f.email.invalid && f.email.dirty">
                        <div for="" *ngIf="f.email.errors">
                            <small *ngIf="f.email.errors?.['required']">The email is required</small>
    
                            <small *ngIf="f.email.errors?.['email']">Must be email</small>
                        </div>
                    </div>
                </mat-form-field>
                <mat-form-field class="form-group col-md-4">
                    <mat-label>Telephone</mat-label>
                    <input matInput type="text" formControlName="telephone">
                </mat-form-field>
                <mat-form-field class="form-group col-md-4">
                    <mat-label>Mobiphone</mat-label>
                    <input matInput type="text" formControlName="mobiphone">
                </mat-form-field>
            </div>
            <div class="col-md-12 row py-3">
                <mat-form-field class="form-group col-md-4">
                    <mat-label>Address</mat-label>
                    <input matInput type="text"  formControlName="address">
                </mat-form-field>
                <mat-form-field class="form-group col-md-4">
                    <mat-label>UserLogin</mat-label>
                    <input matInput  type="text" formControlName="userLogin">
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-md-4">
                    <mat-label  [class.text-red]="f.department.errors && f.department.dirty"> Department</mat-label>
                    <mat-select [class.border-red]="f.department.errors && f.department.dirty" formControlName="department" (change)="onChangeOrg()" required>
                        <mat-option value="" selected>--Choose--</mat-option>
                        <span *ngFor="let lv1 of listOrg1" >
                            <mat-option [style.padding-left.px]="15" [value]="lv1.c_Org_Id" class="text-nowrap">
                                {{lv1.name}}
                            </mat-option>
                            <span *ngIf="lv1.c_Orgs">
                                <span *ngFor="let lv2 of lv1.c_Orgs">
                                    <mat-option [style.padding-left.px]="30" [value]="lv2.c_Org_Id" class="text-nowrap">
                                        {{lv2.name}}
                                    </mat-option>
                                    <span *ngIf="lv2.c_Orgs">
                                        <span *ngFor="let lv3 of lv2.c_Orgs">
                                            <mat-option [style.padding-left.px]="45" [value]="lv3.c_Org_Id" class="text-nowrap">
                                                {{lv3.name}}
                                            </mat-option>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </mat-select>
                    <div *ngIf="f.department.invalid && f.department.dirty">
                        <div for="" *ngIf="f.department.errors">
                            <small for="" *ngIf="f.department.errors?.['required']">The department is required</small>
                        </div>
                    </div>
                </mat-form-field>
                
            </div>
            <!-- <button type="submit" class="btn btn-success">Add</button> -->
            <button type="submit" [disabled]="!inforForm.valid" class="btn btn-success">Add</button>
            <button type="reset" class="btn btn-warning mx-3">Clear</button>
            <button type="button" class="btn btn-dark" [routerLink]="['']" routerLinkActive="router-link-active">Back</button>
        </form>
    </div>
</div>
