<div class="row cool-md-12 text-center pt-3">
    <h2>Add Employee</h2>
</div>
<div class="container-fluid col d-flex justify-content-center">
    <div class="col-md-12 px-5">
        <form [formGroup]="inforForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label class="batbuoc" [class.text-red]="f.firstName.errors && f.firstName.dirty">First Name:</label>
                    <input type="text" class="form-control" [class.border-red]="f.firstName.errors && f.firstName.dirty" formControlName="firstName" required>
                    <div *ngIf="f.firstName.invalid && f.firstName.dirty">
                        <div for="" *ngIf="f.firstName.errors">
                            <small for="" *ngIf="f.firstName.errors?.['required']">The first name is required</small>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="form-group col-md-4">
                    <label class="batbuoc" [class.text-red]="f.lastName.errors && f.lastName.dirty"> Last Name:</label>
                    <input type="text" class="form-control" [class.border-red]="f.lastName.errors && f.lastName.dirty" formControlName="lastName" required>
                    <div *ngIf="f.lastName.invalid && f.lastName.dirty">
                        <div for="" *ngIf="f.lastName.errors">
                            <small for="" *ngIf="f.lastName.errors?.['required']">The last name is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="batbuoc" [class.text-red]="f.dOB.errors && f.dOB.dirty"> Birthday:</label>
                    <input type="date" class="form-control" [class.border-red]="f.dOB.errors && f.dOB.dirty" formControlName="dOB" required>
                    <div *ngIf="f.dOB.invalid && f.dOB.dirty">
                        <div for="" *ngIf="f.dOB.errors">
                            <small *ngIf="f.dOB.errors?.['required']">The birthday is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label class="batbuoc" [class.text-red]="f.email.errors && f.email.dirty">Email:</label>
                    <input type="email" class="form-control" [class.border-red]="f.email.errors && f.email.dirty" formControlName="email" required>
                    <div *ngIf="f.email.invalid && f.email.dirty">
                        <div for="" *ngIf="f.email.errors">
                            <small *ngIf="f.email.errors?.['required']">The email is required</small>
    
                            <small *ngIf="f.email.errors?.['email']">Must be email</small>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="form-group col-md-4">
                    <label>Telephone:</label>
                    <input type="text" class="form-control" formControlName="telephone">
                </div>
                <div class="form-group col-md-4">
                    <label>Mobiphone:</label>
                    <input type="text" class="form-control" formControlName="mobiphone">
                </div>
            </div>
            <div class="col-md-12 row py-3">
                <div class="form-group col-md-4">
                    <label>Address:</label>
                    <input type="text" class="form-control" formControlName="address">
                </div>
                <div class="form-group col-md-4">
                    <label>UserLogin:</label>
                    <input type="text" class="form-control" formControlName="userLogin">
                </div>
                <div class="form-group col-md-4">
                    <label class="batbuoc" [class.text-red]="f.department.errors && f.department.dirty"> Department:</label>
                    <select class="form-select" [class.border-red]="f.department.errors && f.department.dirty" formControlName="department" (change)="onChangeOrg()">
                        <option *ngFor="let o of listOrg" [value]="o.c_Org_Id">{{o.name}}</option>
                    </select>
                    <div *ngIf="f.department.invalid && f.department.dirty">
                        <div for="" *ngIf="f.department.errors">
                            <small for="" *ngIf="f.department.errors?.['required']">The department is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!inforForm.valid" class="btn btn-success">Add</button>
            <button type="reset" class="btn btn-warning mx-3">Clear</button>
            <button type="button" class="btn btn-dark" [routerLink]="['']" routerLinkActive="router-link-active">Back</button>
        </form>
    </div>
</div>
