<div class="row cool-md-12 text-center pt-3">
    <h2>Employee List</h2>
</div>
<div class="container-fluid col d-flex justify-content-center">
    <div class="col-md-12 px-5">
        <div class="col-md-12 row pr-0 mr-0">
            <div class="col-md-6 pr-0">
                <select #size name="size" id=""class="custome-select" (change)="onChange($event)" style="margin-top: 20px;">
                    <option value="5" >5</option>
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="0">All</option>
                </select>
            </div>
            <div class="col-md-6 pr-0">
                <a type="button" [routerLink]="['/add']" routerLinkActive="router-link-active" class="btn btn-success float-end my-2"  >Add</a>
            </div>
            
            
        </div>
        
        <table class="table table-border table-hover table-bordered">
            <thead>
                <tr>
                    
                    <th>STT</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Mobiphone</th>
                    <th>Address</th>
                    <th>UserLogin</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of list; let i = index" scope="row">
                    
                    <td>{{i+1}}</td>
                    <td>{{l.hR_Employee.firstName}}</td>
                    <td>{{l.hR_Employee.lastName}}</td>
                    <td>{{l.hR_Employee.email}}</td>
                    <td>{{l.hR_Employee.telephone}}</td>
                    <td>{{l.hR_Employee.mobiphone}}</td>
                    <td>{{l.hR_Employee.address}}</td>
                    <td>{{l.hR_Employee.userLogin}}</td>
                    <td>{{l.c_Org_name}}</td>
                    <td>
                        <div class="form-check form-switch" style="cursor: pointer;" *ngIf="l.hR_Employee.isActive;else noActive" (click)="onStatusClick(l.hR_Employee.hR_Employee_Id)">
                            <input class="form-check-input active" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled >
                            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>
                        </div>
                        <ng-template #noActive>
                            <div class="form-check form-switch" style="cursor: pointer;" (click)="onStatusClick(l.hR_Employee.hR_Employee_Id)">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled >
                                <label class="form-check-label" for="flexSwitchCheckDisabled"></label>
                              </div>
                        </ng-template>
                    </td>
                    <td><a [routerLink]="['/update']" routerLinkActive="router-link-active" (click)="onUpdateClick(l.hR_Employee_Id)">Edit</a>
                        &nbsp;|&nbsp;
                        <a style="text-decoration: underline; color: #0d6efd; cursor: pointer;" (click)="onDeleteClick(l.hR_Employee_Id)" >Delete</a></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a #prePage  [hidden]="previous" (click)="onPreClick()" style="text-decoration: underline; color: #0d6efd; cursor: pointer;">Previous</a>&nbsp;
            <label #pageIndex>{{page}}</label>
            &nbsp;<a #nextPage  [hidden]="next" (click)="onNextClick()" style="text-decoration: underline; color: #0d6efd; cursor: pointer;">Next</a>
        </div>
    </div>
</div>
