<div class="row col-md-12 text-center pt-3">
    <h2>Update Working History</h2>
  </div>
  <div class="container-fluid col d-flex justify-content-center">
    <div class="col-md-12 px-5">
        <form [formGroup]="inforForm" (ngSubmit)="onSubmit()">
          <div class="col-md-12 row py-3"> 
            <mat-form-field class="form-group col-md-12">
              <mat-label >Job Title</mat-label>
              <input matInput type="text" formControlName="jobTitle" [(ngModel)]="wh.jobTitle" required>
            </mat-form-field>
          </div>
          <div class="col-md-12 row py-3">
            <mat-form-field class="form-group col-md-6" appearance="fill">
              <mat-label> Begin date</mat-label>
              <input matInput formControlName="fromDate" [matDatepicker]="picker"[(ngModel)]="wh.from_Date" required>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="form-group col-md-6" appearance="fill">
              <mat-label> End date</mat-label>
              <input matInput formControlName="toDate" [matDatepicker]="picker1" [(ngModel)]="wh.to_Date">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="col-md-12 row py-3">
            <mat-form-field appearance="fill" class="col-md-6">
              <mat-label> Department</mat-label>
              <mat-select formControlName="department" [(ngModel)]="wh.c_Org_Id" required>
                  <mat-option value="" selected>--Choose--</mat-option>
                  <span *ngFor="let lv1 of listOrg1" >
                      <mat-option [style.padding-left.px]="15" [value]="lv1.c_Org_Id" class="text-nowrap">
                          {{lv1.name}}
                      </mat-option>
                      <span *ngIf="lv1.c_Orgs">
                          <span *ngFor="let lv2 of lv1.c_Orgs">
                              <mat-option [style.padding-left.px]="30" [value]="lv2.c_Org_Id" class="text-nowrap">
                                  {{lv2.name}}
                              </mat-option>
                              <span *ngIf="lv2.c_Orgs">
                                  <span *ngFor="let lv3 of lv2.c_Orgs">
                                      <mat-option [style.padding-left.px]="45" [value]="lv3.c_Org_Id" class="text-nowrap">
                                          {{lv3.name}}
                                      </mat-option>
                                  </span>
                              </span>
                          </span>
                      </span>
                  </span>
              </mat-select>
          </mat-form-field>
            <mat-form-field class="form-group col-md-6">
              <mat-label >Salary:</mat-label>
              <input matInput type="number" formControlName="salary" [(ngModel)]="wh.salaryAmt" required>
            </mat-form-field>
          </div>
          <button mat-raised-button type="submit" [disabled]="!inforForm.valid"  (click)="onSaveClick()" style="color: white; background-color: #708090;">Save<mat-icon aria-hidden="false" aria-label="Example save icon" fontIcon="save"></mat-icon></button>
          <button mat-raised-button type="reset" class=" mx-3" style="color: white; background-color: #708090;">Clear<mat-icon aria-hidden="false" aria-label="Example clear_all icon" fontIcon="clear_all"></mat-icon></button>
          <button mat-raised-button type="button" [routerLink]="['/detail']" routerLinkActive="router-link-active" style="color: white; background-color: #708090;">Back<mat-icon aria-hidden="false" aria-label="Example arrow_back icon" fontIcon="arrow_back"></mat-icon></button>
        </form>
    </div>
  </div>
  
      
