/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {width: 100%;height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f0f0f0; }




//padding
.pt-0 {
    padding-top: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pt-1 {
    padding-top: 0.25rem  !important;
}
.pr-1 {
    padding-right: 0.25rem  !important;
}
.pb-1 {
    padding-bottom: 0.25rem  !important;
}
.pl-1 {
    padding-left: 0.25rem  !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.pr-2 {
    padding-right: 0.5rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pl-2 {
    padding-left: 0.5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}
//margin

.pt-0 {
    margin-top: 0 !important;
}
.pr-0 {
    margin-right: 0 !important;
}
.pb-0 {
    margin-bottom: 0 !important;
}
.pl-0 {
    margin-left: 0 !important;
}
.pt-1 {
    margin-top: 0.25rem  !important;
}
.pr-1 {
    margin-right: 0.25rem  !important;
}
.pb-1 {
    margin-bottom: 0.25rem  !important;
}
.pl-1 {
    margin-left: 0.25rem  !important;
}
.pt-2 {
    margin-top: 0.5rem !important;
}
.pr-2 {
    margin-right: 0.5rem !important;
}
.pb-2 {
    margin-bottom: 0.5rem !important;
}
.pl-2 {
    margin-left: 0.5rem !important;
}
.pt-3 {
    margin-top: 1rem !important;
}
.pr-3 {
    margin-right: 1rem !important;
}
.pb-3 {
    margin-bottom: 1rem !important;
}
.pl-3 {
    margin-left: 1rem !important;
}
.pt-4 {
    margin-top: 1.5rem !important;
}
.pr-4 {
    margin-right: 1.5rem !important;
}
.pb-4 {
    margin-bottom: 1.5rem !important;
}
.pl-4 {
    margin-left: 1.5rem !important;
}
.pt-5 {
    margin-top: 3rem !important;
}
.pr-5 {
    margin-right: 3rem !important;
}
.pb-5 {
    margin-bottom: 3rem !important;
}
.pl-5 {
    margin-left: 3rem !important;
}

.batbuoc:before {
    content: "* ";
    color: red;
}